.git
.gitignore
.editorconfig
.prettierignore
.prettierrc
.env
.env.*
!.env.example
.github/
phpunit.xml
pint.json
README.md
vendor/
node_modules/
tests/
# Laravel
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
public/build
public/hot
npm-debug.log
yarn-error.log
*.log
